.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.vscode

test/*
!test/DroneIno.zip

# gps
Compass.h

#wifi
include/wifi/serial.web_serial.h

#hardware
hardware