AutoLeveling
.vscode
EEPROM_data.txt
*.log

# doxygen
doxyfile
/html
latex/*
!latex/refman.pdf

# sensors folder
DroneIno/src/sensors/proximity_sensor.OFF.h
DroneIno/src/sensors/proximity_sensor.HCSR04.h

# test folder
test/*
!test/wifi
!test/uart
!test/battery-calculations.cpp

# Further implementations
HCSR04.ino 

# development
DroneIno/src/index.html
EspNow.ino

# data
data

# PCB
DroneInoPCB