# .pio
.pio

# .vscode
.vscode

# docs
docs/*

# images
ESP32-DevKit-flying.jpg
myDroneIno-front-view.jpg
myDroneIno-up-side-view.jpg
myDroneIno-up-view.jpg

# include
Compass.h
#    wifi
include/wifi/serial.web_serial.h
#   pinmaps
/include/pinmaps/pinmap.OFF.h
/include/pinmaps/pinmap.ATmega32.h
/include/pinmaps/pinmap.ESP32CAM.h

# lib
lib/BPNN/src/*
!lib/BPNN/src/BPNN.h
!lib/BPNN/src/libBPNN.a
lib/BPNN/docs/*

# test
test/*
!test/DroneIno.zip
!batteryCalc.cpp 